n8n_lifecycle_email_workflow.json
{
  "name": "Pureleven Lifecycle Emails — Daily 6AM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 6 * * *"}]
        }
      },
      "name": "Every Day 6 AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/queue/review_request_d3",
        "options": {}
      },
      "name": "Get Day-3 Review Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/queue/repeat_offer_d7",
        "options": {}
      },
      "name": "Get Day-7 Repeat Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/queue/replenishment_d30",
        "options": {}
      },
      "name": "Get Day-30 Replenishment Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/queue/winback_d60",
        "options": {}
      },
      "name": "Get Day-60 Winback Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 520]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/queue/cart",
        "options": {}
      },
      "name": "Get Cart Abandonment Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 640]
    },
    {
      "parameters": {
        "fieldToSplitOut": "queue",
        "options": {}
      },
      "name": "Split Day-3 Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 160]
    },
    {
      "parameters": {
        "fieldToSplitOut": "queue",
        "options": {}
      },
      "name": "Split Day-7 Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 280]
    },
    {
      "parameters": {
        "fieldToSplitOut": "queue",
        "options": {}
      },
      "name": "Split Day-30 Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "queue",
        "options": {}
      },
      "name": "Split Day-60 Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 520]
    },
    {
      "parameters": {
        "fieldToSplitOut": "queue",
        "options": {}
      },
      "name": "Split Cart Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to_email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "template",
              "value": "review_request_d3"
            },
            {
              "name": "order_id",
              "value": "={{ $json.order_id }}"
            },
            {
              "name": "substitutions",
              "value": "={\"customer_name\": \"{{ $json.first_name }}\", \"product_name\": \"{{ $json.item_names }}\", \"review_url\": \"https://pureleven.com/pages/review?order={{ $json.order_id }}\"}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Day-3 Review Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to_email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "template",
              "value": "repeat_offer_d7"
            },
            {
              "name": "order_id",
              "value": "={{ $json.order_id }}"
            },
            {
              "name": "substitutions",
              "value": "={\"customer_name\": \"{{ $json.first_name }}\", \"product_name\": \"{{ $json.item_names }}\", \"shop_url\": \"https://pureleven.com\"}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Day-7 Repeat Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to_email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "template",
              "value": "replenishment_d30"
            },
            {
              "name": "order_id",
              "value": "={{ $json.order_id }}"
            },
            {
              "name": "substitutions",
              "value": "={\"customer_name\": \"{{ $json.first_name }}\", \"product_name\": \"{{ $json.item_names }}\", \"price\": \"{{ $json.total_amount }}\", \"city\": \"your city\", \"product_url\": \"https://pureleven.com\"}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Day-30 Replenishment Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to_email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "template",
              "value": "winback_d60"
            },
            {
              "name": "order_id",
              "value": "={{ $json.order_id }}"
            },
            {
              "name": "substitutions",
              "value": "={\"customer_name\": \"{{ $json.first_name }}\", \"days_since\": \"60\", \"previously_purchased_items\": \"<li>{{ $json.item_names }}</li>\", \"shop_url\": \"https://pureleven.com\"}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Day-60 Winback Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pureleven-ai-engine:8000/api/crm/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to_email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "template",
              "value": "cart_abandonment"
            },
            {
              "name": "dedup_key",
              "value": "={{ $json.event_id }}"
            },
            {
              "name": "substitutions",
              "value": "={\"customer_name\": \"there\", \"product_name\": \"your selected item\", \"price\": \"\", \"cart_url\": \"https://pureleven.com/cart\"}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Cart Abandon Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 640]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://pureleven-ai-engine:8000/api/crm/abandonment/{{ $json.event_id }}/mark_notified",
        "options": {}
      },
      "name": "Mark Cart Event Notified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 640]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "total_review",
              "value": 0
            }
          ]
        }
      },
      "name": "Summary Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Every Day 6 AM IST": {
      "main": [
        [
          {"node": "Get Day-3 Review Queue", "type": "main", "index": 0},
          {"node": "Get Day-7 Repeat Queue", "type": "main", "index": 0},
          {"node": "Get Day-30 Replenishment Queue", "type": "main", "index": 0},
          {"node": "Get Day-60 Winback Queue", "type": "main", "index": 0},
          {"node": "Get Cart Abandonment Queue", "type": "main", "index": 0}
        ]
      ]
    },
    "Get Day-3 Review Queue":       {"main": [[{"node": "Split Day-3 Items",  "type": "main", "index": 0}]]},
    "Get Day-7 Repeat Queue":       {"main": [[{"node": "Split Day-7 Items",  "type": "main", "index": 0}]]},
    "Get Day-30 Replenishment Queue":{"main": [[{"node": "Split Day-30 Items","type": "main", "index": 0}]]},
    "Get Day-60 Winback Queue":     {"main": [[{"node": "Split Day-60 Items", "type": "main", "index": 0}]]},
    "Get Cart Abandonment Queue":   {"main": [[{"node": "Split Cart Items",   "type": "main", "index": 0}]]},
    "Split Day-3 Items":   {"main": [[{"node": "Send Day-3 Review Email",         "type": "main", "index": 0}]]},
    "Split Day-7 Items":   {"main": [[{"node": "Send Day-7 Repeat Email",         "type": "main", "index": 0}]]},
    "Split Day-30 Items":  {"main": [[{"node": "Send Day-30 Replenishment Email",  "type": "main", "index": 0}]]},
    "Split Day-60 Items":  {"main": [[{"node": "Send Day-60 Winback Email",       "type": "main", "index": 0}]]},
    "Split Cart Items":    {"main": [[{"node": "Send Cart Abandon Email",          "type": "main", "index": 0}]]},
    "Send Cart Abandon Email": {"main": [[{"node": "Mark Cart Event Notified",     "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "tags": ["lifecycle", "email", "pureleven"]
}
