n8n_wa_winback_60d_workflow.json
{
  "name": "Pureleven WhatsApp Winback (Day 60)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 9 * * *"}]
        }
      },
      "name": "Every Day 9 AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.shopify_order_id, o.email, c.phone, c.first_name,\n       (SELECT STRING_AGG(item->>'name', ', ') FROM jsonb_array_elements(o.items::jsonb) item) AS product_name,\n       EXTRACT(DAY FROM NOW() - o.order_date)::int AS days_since\nFROM crm_orders o\nJOIN crm_customers c ON c.id = o.customer_id\nWHERE o.order_date BETWEEN NOW() - INTERVAL '61 days' AND NOW() - INTERVAL '59 days'\n  AND o.winback_email_sent = FALSE\n  AND o.rto = FALSE\n  AND c.phone IS NOT NULL\n  AND c.phone != ''\n  AND NOT EXISTS (\n        SELECT 1 FROM crm_orders o2\n        WHERE o2.customer_id = o.customer_id\n          AND o2.order_date > NOW() - INTERVAL '30 days'\n          AND o2.id != o.id\n  )\nLIMIT 100",
        "options": {}
      },
      "name": "Get 60-Day Lapsed Customers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "pureleven-postgres",
          "name": "Pureleven Postgres"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Over Lapsed Customers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pureleven-ai-engine:8000/api/crm/wabis/send",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "phone": "={{ $json.phone.replace(/[^0-9]/g, '').length === 10 ? '91' + $json.phone.replace(/[^0-9]/g, '') : $json.phone.replace(/[^0-9]/g, '') }}",
          "message": "Hi {{ $json.first_name || 'there' }},\n\nWe miss you! 💚\n\n{{ $json.days_since }} days since your last order...\n\nUse MISSYOU150 for ₹150 off your next order 🎁\nValid for 7 days only.\n\nhttps://pureleven.com\n\n- Pureleven"
        },
        "options": {}
      },
      "name": "Send WhatsApp Winback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE crm_orders SET winback_email_sent = TRUE WHERE shopify_order_id = '{{ $json.shopify_order_id }}'",
        "options": {}
      },
      "name": "Mark Winback Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "postgres": {
          "id": "pureleven-postgres",
          "name": "Pureleven Postgres"
        }
      }
    }
  ],
  "connections": {
    "Every Day 9 AM IST":          {"main": [[{"node": "Get 60-Day Lapsed Customers",   "type": "main", "index": 0}]]},
    "Get 60-Day Lapsed Customers": {"main": [[{"node": "Loop Over Lapsed Customers",     "type": "main", "index": 0}]]},
    "Loop Over Lapsed Customers":  {"main": [[{"node": "Send WhatsApp Winback",          "type": "main", "index": 0}]]},
    "Send WhatsApp Winback":       {"main": [[{"node": "Mark Winback Sent",              "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "tags": ["whatsapp", "winback", "lifecycle", "pureleven"]
}
