anu-login/backend/deploy/n8n_exports/04_ai_followup_dispatch_webhook.json
{
  "name": "04 - AI Followup Dispatch Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "ai-followup-dispatch",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "dispatch-webhook",
      "name": "Dispatch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        260
      ],
      "webhookId": "dispatch-followup-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/ai/dispatch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {}
      },
      "id": "call-ai-dispatch",
      "name": "Call AI Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.should_send}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "if-should-send",
      "name": "Should Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"action\": \"send\", \"payload\": $json} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-send",
      "name": "Respond Send",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"action\": \"skip\", \"payload\": $json} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        340
      ]
    }
  ],
  "connections": {
    "Dispatch Webhook": {
      "main": [
        [
          {
            "node": "Call AI Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Dispatch": {
      "main": [
        [
          {
            "node": "Should Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send?": {
      "main": [
        [
          {
            "node": "Respond Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "04-ai-dispatch-webhook-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "04-ai-followup-dispatch-webhook",
  "tags": []
}