anu-login/backend/deploy/n8n_exports/06_customer_reply_tracking_webhook.json
{
  "name": "06 - Customer Reply Tracking Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "customer-reply-track",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "reply-webhook",
      "name": "Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        260
      ],
      "webhookId": "customer-reply-tracking-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/tracking/whatsapp-reply",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {}
      },
      "id": "track-reply",
      "name": "Track Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-reply",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        260
      ]
    }
  ],
  "connections": {
    "Reply Webhook": {
      "main": [
        [
          {
            "node": "Track Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Reply": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "06-reply-tracking-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "06-customer-reply-tracking-webhook",
  "tags": []
}