anu-login/backend/deploy/n8n_exports/07_delhivery_webhook_relay.json
{
  "name": "07 - Delhivery Webhook Relay",
  "nodes": [
    {
      "parameters": {
        "path": "delhivery-relay",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "delhivery-webhook",
      "name": "Delhivery Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        260
      ],
      "webhookId": "delhivery-relay-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/api/delhivery/webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-delhivery-signature",
              "value": "={{$json.headers && $json.headers['x-delhivery-signature'] ? $json.headers['x-delhivery-signature'] : ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-delhivery",
      "name": "Forward to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-delhivery",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        260
      ]
    }
  ],
  "connections": {
    "Delhivery Webhook": {
      "main": [
        [
          {
            "node": "Forward to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Backend": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "07-delhivery-relay-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "07-delhivery-webhook-relay",
  "tags": []
}